USE [Sales]
GO
/****** Object:  UserDefinedDataType [dbo].[phone]    Script Date: 17.06.2019 16:25:06 ******/
CREATE TYPE [dbo].[phone] FROM [nchar](10) NULL
GO
/****** Object:  Table [dbo].[Amount]    Script Date: 17.06.2019 16:25:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Amount](
	[IDOrder] [int] NOT NULL,
	[IDProduct] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [money] NOT NULL,
 CONSTRAINT [PK_Amount] PRIMARY KEY CLUSTERED 
(
	[IDOrder] ASC,
	[IDProduct] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 17.06.2019 16:25:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[IDClient] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nchar](20) NOT NULL,
	[LastName] [nchar](20) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[Phone] [dbo].[phone] NULL,
 CONSTRAINT [PK_Client] PRIMARY KEY CLUSTERED 
(
	[IDClient] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 17.06.2019 16:25:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nchar](20) NOT NULL,
	[LastName] [nchar](20) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[Phone] [dbo].[phone] NULL,
	[City] [nchar](20) NOT NULL,
 CONSTRAINT [PK_Clients] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 17.06.2019 16:25:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[IDOrder] [int] IDENTITY(1,1) NOT NULL,
	[IDClient] [int] NOT NULL,
	[OrderDate] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[IDOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 17.06.2019 16:25:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[IDProduct] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](100) NOT NULL,
	[InStock] [int] NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[IDProduct] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Order] ADD  CONSTRAINT [DF_Order_OrderDate]  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF_Product_InStock]  DEFAULT ((0)) FOR [InStock]
GO
ALTER TABLE [dbo].[Amount]  WITH CHECK ADD  CONSTRAINT [FK_Amount_Order] FOREIGN KEY([IDOrder])
REFERENCES [dbo].[Order] ([IDOrder])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Amount] CHECK CONSTRAINT [FK_Amount_Order]
GO
ALTER TABLE [dbo].[Amount]  WITH CHECK ADD  CONSTRAINT [FK_Amount_Product] FOREIGN KEY([IDProduct])
REFERENCES [dbo].[Product] ([IDProduct])
GO
ALTER TABLE [dbo].[Amount] CHECK CONSTRAINT [FK_Amount_Product]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_CLient] FOREIGN KEY([IDClient])
REFERENCES [dbo].[Client] ([IDClient])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_CLient]
GO
ALTER TABLE [dbo].[Amount]  WITH CHECK ADD  CONSTRAINT [CK_Price] CHECK  (([Price]>(0)))
GO
ALTER TABLE [dbo].[Amount] CHECK CONSTRAINT [CK_Price]
GO
ALTER TABLE [dbo].[Amount]  WITH CHECK ADD  CONSTRAINT [CK_Quantity] CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[Amount] CHECK CONSTRAINT [CK_Quantity]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [CK_InStock] CHECK  (([Instock]>=(0)))
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [CK_InStock]
GO
/****** Object:  StoredProcedure [dbo].[Create]    Script Date: 17.06.2019 16:25:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[Create]
@FirstName nchar(20),
@LastName nchar(20),
@Address nvarchar(50),
@Phone [dbo].[phone],
@City nchar(20) 

AS
    INSERT INTO [dbo].[Clients]
           ([FirstName]
           ,[LastName]
           ,[Address]
           ,[Phone]
		   ,[City])
     VALUES
           (@FirstName,@LastName,@Address,@Phone, @City)           
GO
/****** Object:  StoredProcedure [dbo].[Delete]    Script Date: 17.06.2019 16:25:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Delete]
@selectID int
AS
    delete from [Clients]
	where ID = @selectID 
GO
/****** Object:  StoredProcedure [dbo].[Get]    Script Date: 17.06.2019 16:25:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Get]
	@selectID int	
AS
	SELECT ID, FirstName, LastName, Address, Phone, City from [dbo].[Clients]
	where ID = @selectID
GO
/****** Object:  StoredProcedure [dbo].[GetAll]    Script Date: 17.06.2019 16:25:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAll]	
AS
    Select ID, FirstName, LastName, Address, Phone, City from [dbo].[Clients]
GO
/****** Object:  StoredProcedure [dbo].[Update]    Script Date: 17.06.2019 16:25:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Update]
@selectID int,
@FirstName nchar(20),
@LastName nchar(20),
@Address nvarchar(50),
@Phone [dbo].[phone],
@City nchar(20)	
AS
	Update [Clients]
	set FirstName = @FirstName, LastName = @LastName, Address = @Address, Phone = @Phone, City = @City  
	where ID = @selectID
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ограничение на значения количества единиц на складе' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Product', @level2type=N'CONSTRAINT',@level2name=N'CK_InStock'
GO
